<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to IRIS Species Predictor</h1>

    <form action="/prediction" method="post">
        <input type="text" name="slcm" placeholder="SLCM">
        <input type="text" name="swcm" placeholder="SWCM">
        <input type="text" name="plcm" placeholder="PLCM">
        <input type="text" name="pwcm" placeholder="PWCM">
        <input type="submit" value="Predict">
    </form>
</body>
</html>